.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
  display: block;
}

.footer a {
  text-align: center;
  font-size: 40px;
  color: white;
}

.footer p {
  color: white;
}
